
<header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "Start Geolocation", "#", id: "startLocate" %>
  <%= link_to "Stop Geolocation", "#", id: "stopLocate" %>
</header>

<div class="three wide column">
  <aside id="sidebar">
    <ul>
      <li class="sidebar-list">
        <%= link_to "Create a note", "#", id: "createNote" %>
      </li>
      <li class="sidebar-list">
        <%= link_to "Edit a note", "#", id: "editNote" %>
      </li>
      <li class="sidebar-list">
        <%= link_to "View Notes", "#", id: "viewNotes" %>
      </li>
      <li class="sidebar-list"></li>
    </ul>
  </aside>
</div>

<div class="thirteen wide column">
  <article>
    <div id="map"></div>
  </article>
</div>

<div class="ui dimmer modals page">
  <div class="ui fullscreen modal transition hidden">
    <i class="close icon"></i>
    <div class="header">Create a new note</div>
    <div class="content">
      <%= form_for [@expedition, @annotation], html: { id: "submitNote" }, remote: true, method: :post do |f| %>
        <div class="ui form">
          <h4 class="ui dividing header"><%= f.label "Write your note below" %></h4>
          <div class="field"><%= f.text_area :note %></div>
          <h4 class="ui dividing header"><%= f.label "Hashtags (for kingdom, family, order, class, species, etc)" %></h4>
          <div class="field"><%= text_field_tag "hashtags", "Currently unavailable" %></div>
          <div class="field">Add an image: <%= f.file_field :image %></div>
          <div class="field">Or a recording: <%= f.file_field :recording %></div>
          <div class="field"><%= f.submit %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="image content">
      <div class="annotationInsert">
      </div>
      <div class="description">
      </div>
      <div class="taggings">
      </div>
    </div>
  </div>
</div>

<script src="/assets/fulltilt-min.js"></script>

<script>
var polyColour = <%= @poly_colour.inspect.html_safe %>;
var expeditionId = <%= @expedition.id %>;
</script>
<%= javascript_include_tag 'map' %>

<script>var coordinates = JSON.parse(<%= @coordinates.inspect.html_safe %>);</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgPKDNnR376aeoPLyafsvnJs_EcpDtPV8&callback=initMap" async defer>
</script>

<%= javascript_include_tag 'expeditions' %>

