<style>
#map {
  height: 500px;
  width: 100%;
}
#startLocate {
  float: left;
}
#stopLocate{
  float: right;
}
</style>

<div class="one wide column"></div>
<div class="four wide column"><%= button_tag "Start Geolocation", id: "startLocate" %></div>
<div class="three wide column">
  <%= form_for [@expedition, @annotation], html: {id: "submitImage"}, remote: true, method: :post do |f| %>
    <%= f.label "Upload an Image" %><br>
    <%= f.file_field :image %><br>
    <%= f.submit "Add Image" %>
  <% end %>
</div>
<div class="three wide column">
  <%= form_for [@expedition, @annotation], html: {id: "submitRecording"}, remote: true, method: :post do |f| %>
    <%= f.label "Upload a Recording" %><br>
    <%= f.file_field :recording %><br>
    <%= f.submit "Add Recording" %>
  <% end %>
</div>
<div class="four wide column"><%= button_tag "Stop Geolocation", id: "stopLocate" %></div>
<div class="one wide column"></div>

<div class="three wide column">
  <p>Latitude: <span id="latitude"></span></p>
  <p>Longitude: <span id="longitude"></span></p>
  <p>Accuracy: <span id="accuracy"></span></p>
  <p>Heading: <span id="compass"></span>°</p>
  <p>Distance: <span id="distance"></span>m</p>
  <p><span id="info"></span></p>
  <br>
  <%= form_for @expedition, html: {id: "submitTitle"}, remote: true, method: :patch do |f| %>
    <%= f.label :title %><br>
    <%= f.text_area :title %><br>
    <%= f.submit %>
  <% end %>
  <br>
  <%= form_for @expedition, html: {id: "submitDescription"}, remote: true, method: :patch do |f| %>
    <%= f.label :desciption %><br>
    <%= f.text_area :description %><br>
    <%= f.submit %>
  <% end %>
</div>
<div class="twelve wide column"><div id="map"></div></div>
<div class="one wide column"></div>

<script src="/assets/fulltilt-min.js"></script>

<script>

// Build out a new polyline for each batch of coordinates
// Key on side with start/finish 

var polyColours = ["#003366", "#009933", "#99cc00", "#ffcc00", "#cc6699", "#9966ff", "#996600", "#cc99ff"]
var map;
var poly;
var path;
var heading;
var startMarker;
var marker;
var contentMarker;
var infoWindow;
var lastInfoWindow;
var infoWindowClosed;
var infoWindowClosed = true;

function initMap() {
  var compassSpan = document.getElementById("compass");
  heading = 0.0;
  // Obtain a new *world-oriented* Full Tilt JS DeviceOrientation Promise
  var promise = FULLTILT.getDeviceOrientation({ type: 'world'  });

  // Wait for Promise result
  promise.then(function(deviceOrientation) {
    // Apparently device orientation events are supported, so register a callback
    deviceOrientation.listen(function() {
      // Get the current *screen-adjusted* device orientation angles
      var currentOrientation = deviceOrientation.getScreenAdjustedEuler();
      console.log(currentOrientation);
      // Calculate the current compass heading that the user is facing (in degrees)
      heading = 360 - currentOrientation.alpha;
      compassSpan.innerHTML = heading.toString();
    });
  }).catch(function(errorMessage) {
    // Device Orientation Events are not supported
    console.log(errorMessage);
  });
  map = new google.maps.Map(document.getElementById('map'), {
    minZoom: 3,
    zoom: 16,
    mapTypeId: 'satellite'
  });
  startMarker = new google.maps.Marker({
    map: map,
    draggable: false
  });
  marker = new google.maps.Marker({
    map: map,
    draggable: false
  });
  dropMarker = new google.maps.Marker({
    map: map,
    draggable: false,
    animation: google.maps.Animation.DROP
  });
  map.addListener('click', function (e) {
    dropMarker.setVisible(true);
    dropMarker.setPosition(e.latLng);
  });
  poly = new google.maps.Polyline({
    strokeColor: <%= @poly_colour.inspect.html_safe %>,
    strokeOpacity: 1.0,
    strokeWeight: 4
  });
  poly.setMap(map);
  path = poly.getPath();
}
var coordinates = JSON.parse(<%= @coordinates.inspect.html_safe %>);

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgPKDNnR376aeoPLyafsvnJs_EcpDtPV8&callback=initMap" async defer>
</script>

<script>
window.onload = function () {

  function buildPolylines (coordinates) {
    var segStart = coordinates[0].segment;
    var newPoly = new google.maps.Polyline({
      strokeColor: polyColours[segStart % 8],
      strokeOpacity: 1.0,
      strokeWeight: 4
    });
    newPoly.setMap(map);
    var newPath = newPoly.getPath();
    for (var i = 0; i < coordinates.length; ++i) {
      if (segStart < coordinates[i].segment) {
        segStart += 1;
        var newPoly = new google.maps.Polyline({
          strokeColor: polyColours[coordinates[i].segment % 8],
          strokeOpacity: 1.0,
          strokeWeight: 4
        });
        newPoly.setMap(map);
        var newPath = newPoly.getPath();
      }
      latLng = new google.maps.LatLng(coordinates[i].latitude, coordinates[i].longitude);
      if (coordinates[i].image != null) {
        var contentMarker = new google.maps.Marker({
          map: map,
          draggable: false,
          animation: google.maps.Animation.DROP
        });
        // %%%TODO%%% Refactor / Get Rid of Google Info Windows --> Use a modal instead for pictures and recordings
        var infoWindow = new google.maps.InfoWindow({
          content: '<img src="/uploads/annotation/image/' + coordinates[i].annotation_id + '/thumb_' + coordinates[i].image + '">'
        });
        contentMarker.setPosition(latLng);
        contentMarker.addListener("click", function () {
          map.panTo(contentMarker.getPosition());
          if (lastInfoWindow != null) {
            lastInfoWindow.close();
          }
          if (infoWindowClosed) {
            infoWindow.open(map, contentMarker);
            infoWindowClosed = false;
          } else {
            infoWindow.open(map, contentMarker);
            infoWindowClosed = true;
          }
          lastInfoWindow = infoWindow;
        })
      }
      if (coordinates[i].recording != null) {
        var contentMarker = new google.maps.Marker({
          map: map,
          draggable: false,
          animation: google.maps.Animation.DROP
        });
        var infoWindow = new google.maps.InfoWindow({
          // %%%TODO%%% Content type needs to be determined by the model. Maybe we're pushing the limits of the find_by_sql?
          content: '<audio controls><source src="/uploads/annotation/recording/' + coordinates[i].annotation_id + '/' + coordinates[i].recording + '" type="audio/mpeg"></audio>'
        });
        contentMarker.setPosition(latLng);
        contentMarker.addListener("click", function () {
          map.panTo(contentMarker.getPosition());
          if (lastInfoWindow != null) {
            lastInfoWindow.close();
          }
          if (infoWindowClosed) {
            infoWindow.open(map, contentMarker);
            infoWindowClosed = false;
          } else {
            infoWindow.open(map, contentMarker);
            infoWindowClosed = true;
          }
          lastInfoWindow = infoWindow;
        })
      }
      map.setCenter(latLng);
      newPath.push(latLng);
    }
  }

  var csrf = $('meta[name=csrf-token]').attr('content');
  var timer;
  function locate () {
    var geo = navigator.geolocation;
    if (geo) {
      geo.getCurrentPosition(function (data) {
        latLng = new google.maps.LatLng(data.coords.latitude, data.coords.longitude);
        if (coordinates.length != 0) {
          map.setCenter(latLng);
        }
        if (path.b.length == 0) {
          startMarker.setPosition(latLng);
        }
        marker.setPosition(latLng);
        $('#latitude').html(data.coords.latitude.toString());
        $('#longitude').html(data.coords.longitude.toString());
        $('#accuracy').html(data.coords.accuracy.toString());
        App.coordinates.create({
          coordinate: {
            latitude: data.coords.latitude,
            longitude: data.coords.longitude,
            accuracy: data.coords.accuracy,
            altitude: data.coords.altitude,
            bearing: heading
          },
          expedition: {
            id: <%= @expedition.id %>
          }
        });
      }, function error(msg){
        $("#error").html(msg);
        console.log(msg);
      }, {
        timeout: 10000,
        maximumAge:900,
        enableHighAccuracy: true
      });
    }
    timer = setTimeout(locate, 1000);
  }



  $('#startLocate').on("click", function () {
    if (coordinates.length != 0) {
      buildPolylines(coordinates);
    }
    locate();
  })

  $('#stopLocate').on("click", function () {
    clearTimeout(timer);
  })

  function toggleWindow (infoWindow, map, contentMarker) {
    if (lastInfoWindow != null) {
      lastInfoWindow.close();
    }
    if (infoWindowClosed) {
      infoWindow.open(map, contentMarker);
      infoWindowClosed = false;
    } else {
      infoWindow.open(map, contentMarker);
      infoWindowClosed = true;
    }
    lastInfoWindow = infoWindow;
  }

  $('#submitTitle').on("ajax:success", function (e, data) {
    $('#title').html(data.title);
  });

  $('#submitDescription').on("ajax:success", function (e, data) {
    $('#description').html(data.description);
  });

  $('#submitImage').on("ajax:remotipartComplete", function (e, data) {
    response = JSON.parse(data.responseText);
    latLng = new google.maps.LatLng(response.coordinate.latitude, response.coordinate.longitude);
    var contentMarker = new google.maps.Marker({
      map: map,
      draggable: false,
      animation: google.maps.Animation.DROP
    });
    var infoWindow = new google.maps.InfoWindow({
      content: '<img src="' + response.annotation.image.thumb.url + '">'
    });
    contentMarker.setPosition(latLng);
    contentMarker.addListener("click", function () {
      map.panTo(contentMarker.getPosition());
      if (lastInfoWindow != null) {
        lastInfoWindow.close();
      }
      if (infoWindowClosed) {
        infoWindow.open(map, contentMarker);
        infoWindowClosed = false;
      } else {
        infoWindow.open(map, contentMarker);
        infoWindowClosed = true;
      }
      lastInfoWindow = infoWindow;
    })
  });

  $('#submitRecording').on("ajax:remotipartComplete", function (e, data) {
    response = JSON.parse(data.responseText);
    latLng = new google.maps.LatLng(response.coordinate.latitude, response.coordinate.longitude);
    var contentMarker = new google.maps.Marker({
      map: map,
      draggable: false,
      animation: google.maps.Animation.DROP
    });
    var infoWindow = new google.maps.InfoWindow({
      content: '<audio controls><source src="' + response.annotation.url + '" type="'+ response.annotation.content_type  + '"></audio>'
    });
    contentMarker.setPosition(latLng);
    contentMarker.addListener("click", function () {
      map.panTo(contentMarker.getPosition());
      if (lastInfoWindow != null) {
        lastInfoWindow.close();
      }
      if (infoWindowClosed) {
        infoWindow.open(map, contentMarker);
        infoWindowClosed = false;
      } else {
        infoWindow.open(map, contentMarker);
        infoWindowClosed = true;
      }
      lastInfoWindow = infoWindow;
    })
  });
}
</script>
